/*
a {
    color: ##B0D7F3;
}

a:hover {
    color: ##B0D7F3;
    text-decoration: none;
}
*/
body {
    background-color: #3687C0;
    font-family: Palatino;
}

h1, div#header a {
    color: #B0D7F3;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

div#header, footer {
    background: #3687C0;
}

div#social {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
}

footer p {
    clear: both;
    color: #B0D7F3;
    text-align: center;
}

div#intro, div#area-descriptions {
    padding-top: 10px;
    min-height: 230px;
    background: #B0D7F3;
}

div#intro p {
    color: #166DAB;
}

div#areas {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #166DAB;
}

div#areas li, h2 {
    color: #B0D7F3;
}

li {
    padding: .5em;
}

li.selected {
    background: #B0D7F3;
}
/*
li.selected a, li.selected a:hover {
    color: #166DAB;
}

li a, li a:hover {
    color: #B0D7F3;
}
*/
div#selected-area {
    background: #B0D7F3;
    padding: 1em;
}
/*
div#selected-area a {
    color: #166DAB;
}
*/
div#content {
    background: #166DAB;
}

div#end {
    clear: both;
}

div#facebook {
    width: 100%;
    background-color: #B0D7F3;
}
