a {
    color: ##B0D7F3;
}

body {
    background-color: #3687C0;
    font-family: Palatino;
    margin: 0;
}

h1, div#header a {
    color: #B0D7F3;
}

ul {
    list-style-type: none;
    float: left;
}

li {
    cursor: pointer;
}

div#header, footer {
    padding: 1em;
    background: #3687C0;
}

footer p {
    clear: both;
    color: #B0D7F3;
    text-align: center;
    font-size: 12px;
}

div#intro, div#area-descriptions {
    height: 350px;
    background: #B0D7F3;
    padding: 1em;
    clear: both;
}

div#intro p {
    color: #166DAB;
}

div#areas {
    background: #166DAB;
    padding: 1em;
}

div#areas li, h2 {
    color: #B0D7F3;
}

li {
    width: 150px;
    padding: .5em;
}

li.selected {
    background: #B0D7F3;
}

li.selected a {
    color: #166DAB;
}

div#selected-area {
    background: #B0D7F3;
    padding: 1em;
    width: 50%;
    margin-left: 25%;
}

div#selected-area a {
    color: #166DAB;
}

div#content {
    background: #166DAB;
}

div#end {
    clear: both;
}

iframe#map-canvas {
    float: right;
}

